@{
    ViewBag.Title = "BasicGrid";
}

<div class="wrapper">
    @(Html.Kendo().Grid<TelerikMvcTraining.ViewModels.ProductViewModel>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.ProductNameVm);
          columns.Bound(c => c.SupplierIDVm);
          columns.Bound(c => c.CategoryIDVm);
          columns.Bound(c => c.QuantityPerUnitVm);
          columns.Bound(c => c.UnitPriceVm);
          columns.Bound(c => c.UnitsInStockVm);
          columns.Bound(c => c.UnitsOnOrderVm);
          columns.Bound(c => c.ReorderLevelVm);
          columns.Bound(c => c.DiscontinuedVm);
      })
      .Scrollable()
      .Pageable()
      .Height(650)
      .DataSource(dataSource => dataSource
          .Ajax()
          .Read(read => read.Action("Products_Read", "Product"))
      )
)
</div>